<div id="new-container">
  <div class="row">
    <div class="col col-sm-4 col-sm-offset-4">
      <%= simple_form_for (@cocktail) do |f| %>
        <%= f.input :name, label: "Enter cocktail Name" %>
        <br>
        <%= f.input :photo %><%= f.input :photo_cache, as: :hidden %>
        <br>
        <center><%= f.button :submit, "Add a Cocktail", class: "btn btn-danger btn-lg" %></center>
      <% end %>
    </div>
  </div>
</div>


