<div class="container">
  <div class="row">
    <div class="col col-sm-4 col-sm-offset-4">
      <%= simple_form_for (@cocktail) do |f| %>
        <%= f.input :name, label: "Enter cocktail Name" %>
        <%= f.button :submit, "Add", class: "btn btn-danger btn-sm" %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
      <% end %>
    </div>
  </div>
</div>


